
    <h2>All the People</h2>

    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>            
          <th>School</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% @userinfos.each do |userinfo| %>
        <tr>
          <td><%= userinfo.firstname %></td>
          <td><%= userinfo.lastname %></td>
          <td><%= userinfo.school %></td>
          <td><%= userinfo.email %></td>
          <td><%= link_to 'Show', userinfo  %></td>
          <td><%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, userinfo.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>
          </td>
          
        </tr>
        <% end %>
      </tbody>
    </table>


  </div>
