

<% @posts.each do |post| %>
<!--  <i>Post by <%= post.userinfo.firstname + post.userinfo.lastname %></i> on <%= post.created_at %> <br>   -->

  <i>Post by <%= post.userinfo.firstname%> </i> <i> <%post.userinfo.lastname %></i> on <%= post.created_at %> <br>

  <br><%= post.content %>

<td>
<br><br><a class='likelink' data-likeable=1 data-post-id=<%= post.id %> href="#">Like this post</a>


  <hr>
<% end %>

<script>
$(document).ready( function()  {
  $(".likelink").click( function(event) {
       console.debug("X1",this)
       var target = this

       function make_unlike_link(target) {
           $(target).text("Unlike this post")
           $(target).data("likeable",0)
       }
       function make_like_link(target) {
           $(target).text("Like this post")
           $(target).data("likeable",1)
       }

      $.ajax("/post/like",  {
                method: "GET",
                data: { id: $(this).data('post-id'), likeable: $(target).data("likeable") },
                success: function() {

                if ($(target).data('likeable')==1) {
                  make_unlike_link(target)
                } else {
                  make_like_link(target)
                }

                  } 
                }
              )
      event.preventDefault()
    } )
  }
)



</script>




<!--
<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Userinfo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.userinfo %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->

